
.form-bg{
    width: 99%; 
    height: 99%; 
    margin: auto; 
    border: 0.5px solid black; 
    background-color: #C0C0C0;
}

.green-border{
    position:relative; 
    width: 50%; 
    height: 540px; 
    margin: auto; 
    border: 0.5px solid black; 
    background-color: darkseagreen;
    top: 15px
}

.form-box{
    width: 100%;
}

.ind-form{
    width: 450px; 
    margin: auto;
}

.submit-btn{
    float: right;
}

.form-head{
    text-align: center;
}
