table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

th{
    text-align: left;
}

h1{
    text-align: center;
    font-size: vw;
}

.custom{
    background-color: #637039;
}