{% extends "base.html" %}
{% load static %}
{% block pageContent %}
<div class="center-page center-text">
    <div class="form-group"> 
        <img class=" nav-bar-image inverted" src="{% static 'slobg_app/img/slobg_logo.png' %}" height="150vh">
        <h1 class="hero">Volunteer Hour Tracker</h2>
            <br />
        <h2 class="main-text m-2">Track Individual Hours</h2>
    </div>   
    <form method="POST" id="form"> {% csrf_token %}
        <div class="align-fields-general">
            {% for field in form %}

            <p>
                <div class="align-labels">
                    {{ field.label_tag }} <br/>
                </div>
                <div class="align-fields">
                    {{ field }} 
                </div>
            </p>

            {% endfor %}

        </div>
        <div class="button-holder custom-margins"></div>
            <button class="btn wide-btn btn-primary" type="submit" form="form">Submit</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

{% endblock pageContent%}
