{% extends "base.html" %}
{% load static %}
{% block pageContent %}
<h1>Submit Volunteer Hours</h1>

<form method="POST" action='/group_sign_in'>
   {% csrf_token %}
   <div class="col-12">
       <div class="form-group">
            <h3>Group Name:</h3>
            <input id="group_name" type="text" placeholder="Your group name here">
       </div>
       <div class="form-group">
           <h3>Date Volunteered:</h3>
           <input type="date" id="date">
       </div>
       <div class="form-group">
           <h3>Supervisor:</h3>
           <input type="text" placeholder="Your supervisor name here" id="supervisor">
       </div>
        <div class="form-group">
            <h3>How many hours did you volunteer today?</h3>
            <input type="number" placeholder="Example: 2, 3.5, etc." id="hours">
        </div>
        <div class="form-group">
            <h3>What activity did you do?</h3>
            <input type="text" placeholder="Example: Watered plants, etc." id="activity">
        </div>
        <div class="form-group">
            <h3>What is the number of volunteers in your group?</h3>
            <input type="number" placeholder="1" id="number_volunteers">
        </div>
        <div class="form-group">
                <h3>What is your email?</h3>
                <input type="email" id="email">
        </div>
        <div class="form-group">
                <input type="submit" value="OK">
        </div>
    </div>
</form>
{% endblock pageContent %}