{% extends "base.html" %}
{% load static %}

{% block pageContent %}
<link rel="stylesheet" type="text/css" href="{% static 'slobg_app/css/history.css' %}">

<h1>Volunteer Hours</h1>
<table class="table table-striped table-bordered table-hover" style="width:90%">
    <thead class="custom">
        <tr>
            {% if user.is_staff %}
                <th scope="col">Username</th>
            {% endif %}
            <th scope="col">Date</th>
            <th scope="col">Hours</th>
            <th scope="col">Description</th>
            <th scope="col">Supervisor</th>
        </tr>
    </thead>
    <tbody>
        {% for r in records %}
        <tr>
            {% if user.is_staff %}
                <td>{{ r.owner }}</td>
            {% endif %}
            <td>{{ r.date }}</td>
            <td>{{ r.hours }}</td>
            <td>{{ r.activity }}</td>
            <td>{{ r.supervisor }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br/>
{% if user.is_staff == False %}
<h3>Total Hours Worked: {{  running_total  }}</h3>
{% endif %}

<a class="a-btn" href="{% url 'export' %}">
    <button class="btn wide-btn btn-primary" type="submit" form="form">Export Records to CSV</button>
</a>
</html>

{% endblock %}