{% extends "base.html" %}
{% load static %}
{% block pageContent %}

<h1>Volunteer Hours</h1>
<table style="width:100%" id="history_table">
    <tr>
        <th>Date</th>
        <th>Hours</th>
        <th>Description</th>
        <th>Supervisor</th>
    </tr>
    <tr>
        <td>01/01/2020</td>
        <td>8</td>
        <td>Worked</td>
        <td>Bob</td>
    </tr>
</table>

<style>
    table, th, td{
        border-collapse: collapse;
        border: 1px solid black;
    }

    th{
        text-align: left;
    }

    h1{
        text-align: center;
    }

</style>
</html>

{% endblock %}