{% extends "base.html" %}
{% load static %}
{% block pageContent %}

<link rel="stylesheet" href="{% static 'css/ind_vol_form.css' %}">
<div class="p-3 mb-2 green-border">
    <div class="p-3 mb-2 form-bg" >
        <form method="POST" class="ind-form"> {% csrf_token %}
            <div class="form-group"> 
                <h2 class="form-head">Track Individual Hours</h2>    
            </div>   
            
            <div class="form-group form-box">
                <label for="id_date">Date:</label>
                {{ form.date }}
            </div>
                        
            <div class="form-group form-box">
                <label for="id_hours">Hours:</label>
                {{ form.hours }}
            </div>
                    
            <div class="form-group form-box">
                <label for="id_supervisor">Supervisor:</label>
                {{ form.supervisor }}
            </div>
                   
            <div class="form-group form-box">
                <label for="id_activity">Activity:</label>
                {{ form.activity }}
            </div>
                       
            <div class="form-group">
                <button type="button" class="btn btn-light btn-small submit-btn">Submit</button>
            </div>

        </form>
    </div>
</div>


{% endblock pageContent%}