{% load static %}
{% block pageHeader %} 
<link rel="stylesheet" type="text/css" href="{% static 'slobg_app/css/main.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock pageHeader%}

{% block pageContent %}
<body class="text-center center-main">
    <h1 class="main-text">VOLUNTEER!</h1>
    <img class="inverted" src="{% static 'slobg_app/img/slobg_logo.png' %}" width="418px" height="284px">
    <p class="secondary-text">GET CONNECTED, GET INVOLVED!</p>
    <a class="btn big-btn btn-primary" href="/login/">Get Started</a>
    <footer>
        Project made possible with 
        <a class="medium-text" href="https://hack4impact.org//">hack4impact</a>
    </footer>

</body>
{% endblock pageContent%}