{% extends "base.html" %}
{% load static %}
{% block pageContent %}
<div class="center-page center-text">
    <div class="form-group"> 
        <h2 class="main-text m-2">Profile</h2>           
            <table class="update-table">
                <tr>
                    <td class="table-column-1"> First Name: </td>
                    <td class="table-column-2"> {{ user.first_name }}</td>
                </tr>
                <tr>
                    <td class="table-column-1"> Last Name: </td>
                    <td class="table-column-2">{{  user.last_name  }}</td>
                </tr>
                <tr>
                    <td class="table-column-1"> Email: </td>
                    <td class="table-column-2"> {{  user.email  }} </td>
                </tr>
            </table>
            <div class="button-holder custom-margins">
                <a href="/update-profile/">
                    <button class="btn btn-primary px-2 m-3">Update Profile</button>
                </a>
            </div>
        <h4> You have Worked a total of {{ hours }} hours</h4>
    </div>   
</div>
{% endblock pageContent%}