{% extends "base.html" %}
{% load static %}
{% block pageContent %}
<div class="center-page center-text">
    <div class="form-group"> 
        <h2 class="main-text m-2">Profile</h2>           
        <table class="update-table mr-4 ml-4">
            <tr>
                <td class="table-column-1 pr-4"> First Name: </td>
                <td class="table-column-2"> {{ user.first_name }}</td>
            </tr>
            <tr>
                <td class="table-column-1 pr-4"> Last Name: </td>
                <td class="table-column-2">{{  user.last_name  }}</td>
            </tr>
            <tr>
                <td class="table-column-1 pr-4"> Email: </td>
                <td class="table-column-2"> {{  user.email  }} </td>
            </tr>
            <tr>
                <td class="table-column-1 pr-4"> Phone: </td>
                <td class="table-column-2"> {{  user.profile.phone  }} </td>
            </tr>
            <tr>
                <td class="table-column-1 pr-4"> Birth Date: </td>
                <td class="table-column-2"> {{  user.profile.birth_date  }} </td>
            </tr>
            <tr>
                <td class="table-column-1 pr-4"> Medical Conditions: </td>
                <td class="table-column-2"> {{  user.profile.medical_conditions  }} </td>
            </tr>
            <tr>
                <td class="table-column-1 pr-4"> Areas of Interest: </td>
                <td class="table-column-2">
                    {% for activity in user.profile.areas_of_interest.all %}
                        {{  activity  }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="table-column-1 pr-4"> Waiver Signed Date: </td>
                <td class="table-column-2"> {{  user.profile.esignature_date  }} </td>
            </tr>

        </table>
        <div class="button-holder custom-margins">
            <a href="/update-profile/">
                <button class="btn btn-primary px-2 m-3">Update Profile</button>
            </a>
        </div>
    </div> 
    <div>
        <h2 class="main-text m-2"> Milestones </h2> 
        <div class="align-labels mr-4 ml-4">
            <p class="mb-n1 pb-n1"> Serve 25 hours for a nametag. </p> 
            <p class="mb-n1 pb-n1"> Serve 50 hours for a household membership. </p>
            <p class="mb-n1 pb-n1"> You have worked <span style="font-weight: bold">{{ hours }}</span> hours so far. </p>
        </div>
    </div>  
</div>
{% endblock pageContent%}