{% load static %}
{% block pageHeader %} 
    <link rel="stylesheet" type="text/css" href="{% static 'slobg_app/css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock pageHeader%}

{% block pageContent %}
<body>
  <div class="center-page center-text">
    <img class="inverted" src="{% static 'slobg_app/img/slobg_logo.png' %}" width="214px" height="142px">
    <h2 class="main-text m-2">Sign Up Below</h2>
    <form method="post">
      {% csrf_token %}
      <div class="align-fields-general">
        {% for field in user_form %}
          <p>
            <div class="align-fields">
              <div class="align-labels">
                {{ field.label_tag }} <br/>
                {% if "waiver" in field.label_tag  %}
                <a href="https://www.slobg.org/volunteerwaiver" target="_blank">Link to waiver</a> 
                <br />
                {% endif %}
              </div>
              <div class="align-labels">
                {{ field }} 
              </div>
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </div>
          </p>
        {% endfor %}
        
      </div>
      <div class="button-holder custom-margins">
        <button class="btn wide-btn-2 btn-primary" type="submit">Sign up</button>
      </div>
    </form>
    <p class="center-text">
        Already Have an Account?<a class="a-btn px-1 m-1" href="/login/" >Sign In.</a>
      </p>
  </div>

</body>
{% endblock %}