{% extends "base.html" %}
{% load static %}
{% block pageContent %}
<div class="center-page center-text">
   <h2 class="main-text m-2">Update Profile</h2>           
   <form method="post">
   {% csrf_token %}
   <div class="align-fields-general">
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ user_form.username.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ user_form.username }} 
            </div>
            {% for error in user_form.username.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ user_form.first_name.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ user_form.first_name }} 
            </div>
            {% for error in user_form.first_name.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ user_form.last_name.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ user_form.last_name }} 
            </div>
            {% for error in user_form.last_name.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ user_form.email.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ user_form.email }} 
            </div>
            {% for error in user_form.email.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ user_form.password1.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ user_form.password1 }} 
            </div>
            {% for error in user_form.password1.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ user_form.password2.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ user_form.password2 }} 
            </div>
            {% for error in user_form.password2.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ profile_form.phone.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ profile_form.phone }} 
            </div>
            {% for error in profile_form.phone.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ profile_form.birth_date.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ profile_form.birth_date }} 
            </div>
            {% for error in profile_form.birth_date.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ profile_form.birth_date.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ profile_form.birth_date }} 
            </div>
            {% for error in profile_form.birth_date.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ profile_form.medical_conditions.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ profile_form.medical_conditions }} 
            </div>
            {% for error in profile_form.medical_conditions.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ profile_form.areas_of_interest.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ profile_form.areas_of_interest }} 
            </div>
            {% for error in profile_form.areas_of_interest.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ profile_form.photo_permission.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ profile_form.photo_permission }} 
            </div>
            {% for error in profile_form.photo_permission.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ profile_form.emergency_contact.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ profile_form.emergency_contact }} 
            </div>
            {% for error in profile_form.emergency_contact.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ profile_form.emergency_contact_phone_number.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ profile_form.emergency_contact_phone_number }} 
            </div>
            {% for error in profile_form.emergency_contact_phone_number.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ profile_form.volunteer_waiver_and_release.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ profile_form.volunteer_waiver_and_release }} 
            </div>
            {% for error in profile_form.volunteer_waiver_and_release.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <p>
         <div class="align-fields">
            <div class="align-labels">
            {{ profile_form.esignature_date.label_tag }} <br/>
            </div>
            <div class="align-labels">
            {{ profile_form.esignature_date }} 
            </div>
            {% for error in profile_form.esignature_date.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
         </div>
      </p>
      <button class="btn btn-primary px-2 m-3" type="Submit">Save Changes</button>
      </form>
    </div>   
</div>
{% endblock pageContent%}